<div class="change-password">
    <div class="content">
      <div class="change-password-title">
        <h3>Thêm Mật Khẩu</h3>
        <p>Để bảo mật tài khoản, vui lòng không chia sẻ mật khẩu cho người khác</p>
        <hr>
      </div>
      <div class="change-password-detail">
        <form action="">
        <div class="text-change-password">
            <div class="text-fill">
                <label for="">Mật khẩu mới</label>
                <div class="content-line"><input id="password"type="password"></div>
            </div>
            <div class="text-fill">
              <label for="">Xác nhận mật khẩu mới</label>
              <div class="content-line"><input id="verify-password" type="password"></div>
            </div>
        </div>
        <button class="submit-btn" type="submit" id="btn-change-password">Xác nhận</button>
      </form>
      </div>
    </div>
  </div>
