
.content{
    margin-top: 10px;
    margin-left: 10px;
  }

  .change-password-title> hr{
    width: 90%;
    margin-left: 5px;
  }

  .change-password-detail{
    position: relative;
  }
  .text-change-password {
    position: absolute;
    left: 0%;
    color: black;
  }


  .text-fill{
    margin-bottom: 30px;
  }
  .text-fill>label,.text-fill>div {
    display: inline-block;
  }

  .text-fill>label{
    width: 200px;
    text-align: right;
  }
  .text-fill>div{
    margin-left: 20px;
  }
  .content-line>input:focus{
    outline: none;
  }

  #women{
    margin-left: 30px;
  }

  .submit-btn{
    margin-left: 27%;
    margin-top: 120px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100px;
    border-color: gray;
    border-width: 1px;
    border-radius: 5px;
    background-color: rgb(30, 69, 105);
    color : white;

  }

  .submit-btn:hover{
    background-color: white;
    color: rgb(30, 69, 105);;
  }

  :focus-visible{
    outline: none !important;
  }

