<div class="brands">
  <div class="container ">
        <div class="owl-carousel owl-carousel6-brands">
          <a routerLink=""><img src="assets/img/brands/canon.jpg" alt="canon" title="canon"></a>
          <a routerLink=""><img src="assets/img/brands/esprit.jpg" alt="esprit" title="esprit"></a>
          <a routerLink=""><img src="assets/img/brands/gap.jpg" alt="gap" title="gap"></a>
          <a routerLink=""><img src="assets/img/brands/next.jpg" alt="next" title="next"></a>
          <a routerLink=""><img src="assets/img/brands/puma.jpg" alt="puma" title="puma"></a>
          <a routerLink=""><img src="assets/img/brands/zara.jpg" alt="zara" title="zara"></a>
        </div>
    </div>
</div>
