.order{
  /* width: 100%;
  height: 100%; */
  background-color: rgb(248, 243, 243);
}


.content{
  margin-left: 70px;
  margin-right: 70px;
  padding-bottom: 30px;
}
.address-title, .home-address{
  display: inline-block;
}
.address{
  margin-left: 35px;
  margin-right: 30px;
  background-color: white;
}
.address-title,.home-address{
  text-align: left;
}
.address-title>i{
  padding-left: 10px;
  padding-top: 20px;
}
.address-title>i>span{
  padding-left: 10px;
  font-size: 20px;
}
.address-title>p{
  padding-left: 30px;
}
.order-detail{
  margin:  30px 30px 0px 30px;

  /* border: solid; */
  border-width: 1px;

}

.container-fluid{
  margin-left: 2%;
  position: relative;
}

.row{
  width: 102.10%;
}

table{
  border: none;
}

td{
  border: none;
  text-align: left;
}
tr{
  border: none;
}
#td-image{
  width: 300px;
}
.list-product-order{
  margin-left: -10px;
}

.align-middle{
  position: relative;
  width: 200px;
  border: none;
}

th{
  text-align:left;
  /* background-color: rgb(30, 69, 105); */
  color:rgb(30, 69, 105);
  border: none;
}
.pd-image{
  position: observe;
  object-fit: fill;
  width: 350px;
}
.pd-image>p{
  padding-left: 40px ;
  width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline;
}
.pd-image >a>img{
  width: 50px;
  display: inline;
  float: left;
}
.pd-image >a{
  display: inline-block;
  float: left;

}
.pd-image >p{
  display: inline;
  display: inline-block;
}

.qty > p{
  text-align: center;
  color :rgb(30, 69, 105);
  padding-top: 15px;
}

.cart-content >p{
  position: relative ;
}

.cart-content>p>span,.cart-content>h2>span{
  position: observe;
  right: 0%;
  box-align: right;
  color :red;
  text-align: right;
}
.order_voucher{
  width: 100%;
}
.payment{
  padding-top: 50px;
}
.payment-method{
  padding-top: 20px;
  text-align: left!important;
  background-color: white;
  border :solid;
  border-color: rgb(248, 243, 243);

}
.payment-title{

}
.payment-title>p{
  padding-top: 10px;
  padding-left: 30px;
}
.method-selected{
  padding-left: 30px;
}
.method-selected>button{
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-left: 20px;
  border: solid;
  border-color: rgba(248, 243, 243, 0.712);
  border-width: 1px;
  border-radius: 1%;
  box-shadow: none;
  background-color: white;
  font-size: 15px;
}
.method-selected>button:hover{
  border-color: rgb(30, 69, 105);
}
.method-selected>button:focus{
  border-color: rgb(30, 69, 105);
}
.payment-title,.method-selected{
  display: inline-flex
}

.order_btn{
  padding-left: 2%;
  /* margin-right: 20px; */
  border: solid;
  border-width: 1px;
  border-color: rgb(248, 243, 243);
  text-align: right;
  width: 100%;
}

.order_btn>i,.order_btn>p{
  padding-top: 10px;
  display: inline-block;
  margin-right: 3%;
  font-size: 15px;
}
.btn_wrapped{
  margin-right: 10%;
  margin-bottom: 1%;
}
.btn_wrapped>button{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  zoom: 150%;
  background-color: rgb(30, 69, 105);
  border: none ;
  font-size: 10px;
  color: white;
}

.btn_wrapped>button:hover{

  background-color: white;
  color: rgb(30, 69, 105);
  border: solid;
  border-width: 1px;
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-color: rgb(30, 69, 105);
}
input[type=radio] {
  border: 0px;
  width: 100%;
  height: 2em;
  background-color: rgb(30, 69, 105);
  margin-top: 100%;
  /* opacity: 0;
  cursor: pointer; */
}
.modal-body{
  overflow: scroll;
  overflow-x: hidden;
  height : 400px;
}
/* input[type=radio]:checked:after {
  border: 0px;
  width: 100%;
  height: 2em;
  background-color: rgb(30, 69, 105);
}

.container input:checked ~ .checkmark {
  background-color: #c60e0e;
} */


a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: initial;
  background-color: rgb(30, 69, 105);
  color: white;
  padding: 10px 10px 10px 10px;
}
